<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Burgers!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/assets/js/burger_click.js"></script>
    

</head>

<body>

    <div class="container-fluid">
        <div class="row">
           
                <div class="jumbotron" style="margin-top: 20px">
                    <img style="width: 200px; height: 200px; margin-left:600px" src="https://www.kfc.co.nz/getattachment/e2121533-15c3-41b9-a624-e9de266f5a53/menu/burger-combos/hawaiian-burger/">
                    <h2 class="text-center">Eat Dat Burger</h2>
                </div>
            
        </div>
    </div>

    {{{ body }}}
</body>



</html>